
CREATE OR REPLACE FUNCTION nuclear_delete_friend(
  p_user_id text,
  p_user_role text,
  p_friend_id text,
  p_friend_role text
) RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
AS \$\$
BEGIN
  -- 1. 物理级双向抹除好友关系
  DELETE FROM friendships 
  WHERE (user_id = p_user_id AND user_role = p_user_role AND friend_id = p_friend_id AND friend_role = p_friend_role)
     OR (user_id = p_friend_id AND user_role = p_friend_role AND friend_id = p_user_id AND friend_role = p_user_role);

  -- 2. 物理级抹除双方聊天记录 (连根拔起，防止诈尸)
  DELETE FROM messages 
  WHERE (sender_id = p_user_id AND receiver_id = p_friend_id)
     OR (sender_id = p_friend_id AND receiver_id = p_user_id);
END;
\$\$;

